# Comment
\# 이후에 나오는 글자들은 주석으로 인식해서 모조리 무시됩니다.

In [1]:
# some comments

In [2]:
111 # another comment

111

# Assign
= 은 변수에 값을 지정하는데 사용됩니다.

In [3]:
width = 20
height = 5 * 9

print(width)
print(width, height)

20
20 45

아래 예제에 있는 것처럼 a, b = 1, 2 형식으로 여러개의 변수에 대해 값을 동시에 지정하는 것도 가능하며,

In [4]:
width_m2, height_m3 = width * 2, height * 3

print(width_m2, height_m3)

40 135

나중에 알아보게될 slice를 이용해서 일부 값만을 업데이트 하는 것도 가능합니다.

In [5]:
a = [ 4, 5 ]
b = [ 0, 1, 2, 3 ]

b[1:3] = a

print(b)

[0, 4, 5, 3]

아래와 같이 Sequence Type에 있는 값을 여러 개의 변수로 extract하는 것도 가능합니다.

In [6]:
a, b, c, d = [1, 2, 3, 4]

print(a)
print(b)
print(c)
print(d)

1
2
3
4

C style의 3항 연산자(a ? b : c) 는 지원하지 않으나 conditional expression 을 통해 비슷한 동작을 수행할 수 있습니다.

In [7]:
a = True
b = False if a == True else True

print(b)

False

In [8]:
a = False
b = False if a == True else True

print(b)

True

# Index
String = "abc" 이나 list = [ 'a', 'b' ] 등의 sequence type에 대해서는 [index]를 통해 원하는 값을 가져올 수 있습니다. 다른 대부분의 언어들과 마찬가지로 index는 0에서 부터 시작합니다.

In [9]:
values = [1, 2, 3, 4, 5]

print(values[3])

4

index가 음수 값을 가지게 되면, sequence의 뒤에서 부터의 위치를 나타냅니다.

In [10]:
values = [1, 2, 3, 4, 5]

print(values[-1])

5

-1은 마지막 데이터를 의미하고, -2는 마지막에서 두번째 데이터를 의미합니다.

실제 없는 index로 접근하려고 하면, IndexError Exception이 발생합니다.

In [11]:
values = [1, 2, 3, 4, 5]

print(values[-6])

IndexError: list index out of range

# Slice
slice 연산자 [start:stop:step] 을 이용해서 아래와 같이 Sequence의 일부만 카피하는 것도 가능합니다.

In [12]:
values = [1, 2, 3, 4, 5]

print(values[1:5:2])

[2, 4]

start, stop, step 값은 생략이 가능하며 각각 기본값은 start=0, stop=length, step=1 입니다.

In [13]:
print(values[:2])
print(values[2:])
print(values[:])

[1, 2]
[3, 4, 5]
[1, 2, 3, 4, 5]

기본적으로 slice 연산은 shallow copy를 수행하므로 위의 예제 중 마지막 예제의 경우 기존의 Sequence를 copy해서 새로운 Sequence object를 만드는 역할을 수행합니다.

In [14]:
new_values = values[:]

print(id(values), id(values[0]))
print(id(new_values), id(new_values[0]))

140691255389568 4365519360
140691256336448 4365519360

Shallow copy 이므로 Sequence에 포함된 object 자체가 바뀌는 경우 기존 Sequence도 영향을 받을 수 있습니다.

In [15]:
a = {'k': 'v'}

values = [a]
new_values = values[:]
#new_values.append(1)

print(values, new_values)

a['k'] = 'nv'

print(values, new_values)

[{'k': 'v'}] [{'k': 'v'}]
[{'k': 'nv'}] [{'k': 'nv'}]