# Boolean Values
Boolean Literals

```
True  False
```

In [1]:
bool(True), bool(False)

(True, False)

기본적인 built-in type의 값들에 대해 bool 값은 아래와 같은 값으로 판정된다.

* constant defined to be false: None, False
* zero of any numeric type: 0, 0.0, 0j, Decimal(0), Fraction(0, 1)
* empty sequence and collections: '', (), [], set(), range(0)

In [2]:
bool(1), bool(0)

(True, False)

In [3]:
bool('A'), bool('')

(True, False)

In [4]:
bool(['']), bool([])

(True, False)

# Numeric Types - int, float, complexes
## Integer
integer literals

```
7     2147483647                        0o177          0b100110111
3     79228162514264337593543950336     0o377          0xdeadbeef

# >=python3.6 only
100_000_000_000                         0b_1110_0101   0xdead_beef
```

integer class

```
int(10)
int('111')
```

In [5]:
print(int(10), type(int(10)))
print(int('11'), type(int('11')))

10 <class 'int'>
11 <class 'int'>

## Floating Point
Floating point literals

```
3.14    10.    .001    1e100    3.14e-10    0e0    

# >=python3.6 only
3.14_15_93
```

Floating point class

```
float(1.5)
float(1<<1000)
float('infinity'), float('inf'), float('-infinity'), float('-inf')
float('nan')
```

In [6]:
print(float(1.5))
print(float(1<<1000))
print(float('infinity'), float('inf'), float('-infinity'), float('-inf'))
print(float('nan'))
print(type(float('inf')), type(float('nan')))

1.5
1.0715086071862673e+301
inf inf -inf -inf
nan
<class 'float'> <class 'float'>

## Complex
imaginary literals

```
3.14j   10.j    10j     .001j   1e100j   3.14e-10j   

# >=python3.6 only
3.14_15_93j
```

Complex class

```
complex(1+2j)
complex(1,2)
complex('1+2j')
```

In [7]:
print(complex(1+2j))
print(complex(1,2))
print(complex('1+2j'))

(1+2j)
(1+2j)
(1+2j)

# Iterator Types
Python supports a concept of iteration over containers. 이를 사용하기 위해서는 두개의 method를 구현해야 하며, 이를 통해 사용자 정의 클래스가 iteration을 지원하도록 만들 수 있습니다.

* container.\_\_iter\_\_() → iterator object를 리턴하는 역할을 수행합니다. 리턴되는 object는 iterator protocol을 지원해야 합니다.

iterator object는 iterator protocol에 맞춰 동작하기 위해 다음의 두 method를 지원해야 합니다.

* iterator.\_\_iter()\_\_() → iterator object 자신을 리턴합니다. 이 method는 for 나 in statement를 처리하는데 사용됩니다.
* iterator.\_\_next()\_\_() → 다음 item을 리턴합니다. 더 이상 item이 남아있지 않은 경우 StopIteration exception을 발생시켜야 합니다.

In [8]:
class IterEx(object):
    def __init__(self, max=10):
        self.i = 0
        self.max = max
 
    def __iter__(self):
        return self
 
    def __next__(self):
        if self.i >= self.max:
            raise StopIteration
 
        ret = self.i
        self.i += 1
 
        return ret
 
 
for i in IterEx(3):
    print(i)

0
1
2

In [9]:
iter = IterEx(3)

In [10]:
next(iter)

0

앞으로 Sequence type에서 알아볼 type들의 경우 모두 iterator protocol 을 지원합니다.

# Generator Types
Generators provide a convenient way to implement the iterator protocol.

## generator
A function which returns a generator iterator. It looks like a normal function except that it contains yield expressions for producing a series of values usable in a for-loop or that can be retrieved one at a time with the next() function.

Usually refers to a generator function, but may refer to a generator iterator in some contexts. 

## generator iterator
An object created by a generator function

Each yield temporarilly suspends processing, rememberting the location execution state.

In [11]:
def generator():
    for i in range(4):
        yield i
        print('continue generator function...')

for x in generator():
    print('loop', x)

loop 0
continue generator function...
loop 1
continue generator function...
loop 2
continue generator function...
loop 3
continue generator function...

In [12]:
iter = generator()

In [13]:
next(iter)

0

## generator expression
An expression that returns an generator.

In [14]:
sum(i*i for i in range(3)) # = 0 + 1*1 + 2*2

5

generator는 한번 iteration을 끝내고 나면 더이상 item을 생성하지 않습니다.

In [15]:
g = (i*i for i in range(3))

In [16]:
for x in g:
    print(x)

0
1
4

# Sequence Types - list, tuple, range

> immutable sequence type
: An object with a fixed value. Immutable objects include numbers, strings and tuples. Such an object cannot be altered. A new object has to be created if a different value has to be stored. They play an important role in places where a constant hash value is needed, for example as a key in a dictionary.

operations in the following table are defined on immutable sequence types.

| operation | description |
| --- | --- |
| `x not in s`	| False if an item of s is equal to x, else True |
| `x in s`	| True if an item of s is equal to x, else False |
| `s[i]`	| ith item of s, origin 0 |
| `s[i:j]`	| slice of s from i to j |
| `s[i:j:k]`	| slice of s from i to j with step k |
| `s.index(x[, i[, j]])`	| index of first occurrence of x in s |
| `s.count(x)`	| total number of occurrences of x in s |
| `s + t`	| the concatenation of s and t| 
| `s * n` or `n * s`	| equivalent to adding s to itself n times |
| `min(s)`	| smallest item of s |
| `max(s)`	| largest item of s |
| `len(s)`	| length of s |

> mutable sequence type
: Mutable objects can change their value but keep their id(). See also immutable.

operations in the following table are defined on common sequence types.

| operation | description |
| --- | --- |
| `s[i] = x`	| item i of s is replaced by x |
| `s[i:j] = t`	| slice of s from i to j is replaced by the content of the iterable t |
| `del s[i:j]`	| same as `s[i:j] = []` |
| `s[i:j:k] = t`	| ... |
| `del s[i:j:k]`	| ... |
| `s.append(x)`	| appends x to the end of the sequence |
| `s.clear()`	| remove all items from s (same as `del s[:]`) |
| `s.copy()`	| creates shallow copy of s (same as s[:]) |
| `s.extend(t)` or `s += t`	| extends s with the contents of t |
| `s *= n`	| update s with its contents repeated n times |
| `s.insert(i, x)`	| inserts x into s at the index given by i |
| `s.pop([i])`	| retrieves the item at i and also removes it from s |
| `s.remove(x)`	| remove the first item from s where s[i] == x, the optional algument i defaults to -1 |
| `s.reverse()`	| reverse the items of s in place |

In [17]:
s = [1, 2, 3]

In [18]:
s1 = [111, 222, 333]
s1.append(s)
s1

[111, 222, 333, [1, 2, 3]]

In [19]:
s2 = [111, 222, 333]
s2.extend(s)
s2

[111, 222, 333, 1, 2, 3]

In [20]:
s3 = [111, 222, 333]
s3.insert(-2, -2)
s3

[111, -2, 222, 333]

In [21]:
s4 = [111, 222, 333]
s4.insert(0, 0)
s4

[0, 111, 222, 333]

In [22]:
s5 = [111, 222, 333]
s5.append(444)
s5

[111, 222, 333, 444]

## Lists
Mutable Sequence, typically used to store collections of homogeneous items.

List는 아래와 같은 방법으로 생성이 가능합니다.

* `[ ]` : empty list
* `[a]` : 하나의 item을 가진 list
* `[a, b, c]` :  comma로 구분되는 item을 가진 list
* `list(iterable)`
* list comprehension : `[x for x in iterable]`

> list comprehensions
: Python은 list를 생성할 때 각각의 item을 생성하는 조건을 기술하여 만들 수 있는 표현은 제공합니다. generator expressions과 비슷하며 단지 ( ) 대신 [ ] 을 사용합니다.
https://docs.python.org/3.6/tutorial/datastructures.html#list-comprehensions

In [23]:
[x**2 for x in range(3)]

[0, 1, 4]

In [24]:
[i / 2 for i in range(10) if i % 2 == 1]

[0.5, 1.5, 2.5, 3.5, 4.5]

In [25]:
[(x, y) for x in range(3) for y in range(3) if x == y]

[(0, 0), (1, 1), (2, 2)]

In [26]:
[[x for x in range(y, y + 3)] for y in range(3)]

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

## Tuples
Immutable Sequence, typically used to store collections of heterogeneous data.

Tuples는 아래와 같은 방법으로 생성이 가능합니다.

* ( ) : empty tuple
* a, or (a, ) : 아이템이 하나인 tuple
* a, b, c or (a, b, c)
* tuple() or tuple(iterable)

In [27]:
() # empty tuple

()

In [28]:
(1,) # single item

(1,)

In [29]:
'a', # single item

('a',)

In [30]:
(1) # warning: this means integer 1

1

In [31]:
(,) # invalid syntax

SyntaxError: invalid syntax (2563238029.py, line 1)

In [32]:
'a', 'b' # two items

('a', 'b')

In [33]:
tuple([1, 2, 3]) # tuple from iterable

(1, 2, 3)

In [34]:
tuple(i for i in range(3)) # tuple from generator expression

(0, 1, 2)

## Ranges
Immutable sequence of number를 나타내는데 사용되며, 일반적으로 for loop 내에서 몇번 반복할지를 위해 빈번하게 사용됩니다.

range는 아래와 같은 방법으로 생성이 가능합니다.

* range(stop)
* range(start, stop)
* range(start, stop, step)

In [35]:
list(range(5))

[0, 1, 2, 3, 4]

In [36]:
list(range(1, 5))

[1, 2, 3, 4]

In [37]:
list(range(1, 5, 2))

[1, 3]

# Text Sequence Type
string literals

```
'aBc'
"AbC"
  
'''
Hello
World
!!!
'''
  
"""
Welcome
Python
"""
```

string class

```
str(123)
str('123')
str("ABC")
```

## string formatting

In [38]:
"{} ... {}".format(123, 'abcd')

'123 ... abcd'

In [39]:
"{1} ... {0}".format(123, 'abcd')

'abcd ... 123'

In [40]:
"{} ... {:.3f}".format(3.14, 3.14)

'3.14 ... 3.140'

In [41]:
"{:d} ... {:.3f}".format(3, 3.14)

'3 ... 3.140'

In [42]:
# warning: auto typecasting is not supported
"{:d} ... {:.3f}".format(3.14, 3.14)

ValueError: Unknown format code 'd' for object of type 'float'

In [43]:
# referencing w/ index
"int: {0:d}, hex: {0:#x}; oct: {0:#o}, bin: {0:#b}, {1}".format(17, 'aaa')

'int: 17, hex: 0x11; oct: 0o21, bin: 0b10001, aaa'

In [44]:
# formatting with %
"%.3f ... %03d" % (3.14, 3.14), "%(pi).1f ... %(number)03d" % {'number': 1, 'pi': 3.14 }

('3.140 ... 003', '3.1 ... 001')

In [45]:
# formatting with fstring (>=python3.6 only)
a = 3.14
f'{a} ... {a:#.5f}'

'3.14 ... 3.14000'

더 다양한 예제들은 아래 페이지를 참고하시면 됩니다.

* https://docs.python.org/3.8/library/string.html#format-examples

# Mapping Types - dict
A mapping object maps hasable values to arbitrary objects. Mappings are mutable objects.

dict는 아래와 같은 방법으로 생성이 가능합니다.

* `{}`
* `{key1: value1, key2:value2, ... } `
* `dict(**kwarg)`
* `dict(mapping, **kwarg)`
* `dict(iterable, ** kwarg)`

In [46]:
{'a': 123}

{'a': 123}

In [47]:
dict(b=1234)

{'b': 1234}

In [48]:
dict(c=123, d=234)

{'c': 123, 'd': 234}

In [49]:
dict({'e':123}, f=234)

{'e': 123, 'f': 234}

In [50]:
g = ((x, 'str'+str(x)) for x in range(3))
dict(g)

{0: 'str0', 1: 'str1', 2: 'str2'}

In [51]:
g = (('k'+str(x), 'str'+str(x)) for x in range(3))
dict(g, a=111, b=222, k0=999)

{'k0': 999, 'k1': 'str1', 'k2': 'str2', 'a': 111, 'b': 222}

dict는 아래와 같은 method들을 지원합니다.

| operation | description |
| --- | --- |
| `len(d)`	| Return the number of items in the dictionary d. |
| `d[key]`	| Return the item of d with key key. Raises a KeyError if key is not in the map |
| `d[key] = value`	| Set `d[key]` to value |
| `del d[key]`	| Remove `d[key]` from `d`. Raise KeyError if key is not in the map |
| `key in d`	| Return True if d has a key key, else False |
| `key not in d`	| Equivalent to not key in d |
| `iter(d)`	| Return an iterator over the keys of the dictionary. This is a shortcut `for iter(d.keys())` |
| `clear()`	 | |
| `copy()`	 | |
| `items()`	| Returns a new view of the dictionary's items (`(key, value)` pairs) |
| `keys()`	| Returns a new view of the dictionary's keys |
| `values()`	| Returns a new view of the dictionary's values |
| `pop(key)`	| If key is in the dictionary, remove it and return its value |
| `popitem()`	| Removes and return an arbitrary `(key, value)` pair from the dictionary |

mutable object이기 때문에 추가로 값을 지정하거나 변경하는 것도 가능합니다.

In [52]:
d = {}

In [53]:
d['a'] = 123
d

{'a': 123}

In [54]:
d['b'] = 234
d

{'a': 123, 'b': 234}

In [55]:
d.keys()

dict_keys(['a', 'b'])

In [56]:
d.values()

dict_values([123, 234])

In [57]:
for k, v in d.items():
    print(111, k, v)

111 a 123
111 b 234

# Set Types - set, frozenset
Set and frozenset is an unordered collection of immutable values.

Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.

set은 아래와 같은 방법으로 생성이 가능하며,

* { a, b, c }
* set(iterable)

frozenset은 아래와 같은 방법으로 생성이 가능합니다.

* frozenset(iterable)

set과 frozenset은 아래와 같은 operation들을 지원합니다.

| operation | equivalent | description |
| --- | --- | --- |
| len(s)	| | cardinality of set s |
| x in s	| | test x for membership in s |
| x not i s	| | test x for non-membership in s |
| s.issubset(t)		| `s <= t` 	| test whether every element in s is in t |
| s.isuperset(t)	| `s >= t`	| test whether every element in t is in s |
| s.union(t)	| `s \| t`	| new set with elements from both s and t |
| s.intersection(t)	| `s & t`	| new set with elements common to s and t |
| s.difference(t)	| `s - t`	| new set with elements in s but not in t |
| s.symmetric_difference(t)	| `s ^ t`	| new set with elements in either s or t but not both |
| s.copy()	| | new set with a shallow copy of s |

아래의 operation들은 immutable instance인 frozenset에는 사용할 수 없습니다.

| operation | equivalent | description |
| --- | --- | --- |
| s.update(t)	| `s \|= t`	| update set s, adding elements from t |
| s.intersection_update(t)	| `s &= t`	| update set s, keeping only element found in both s and t |
| s.difference_update(t)	| `s -= t`	| update set s, removing elements found in t |
| s.symmetric_difference_update(t)	| `s ^= t`	| update set s, keeping only elements found in either s or t but not in both |
| s.add(x)	| | add element x to set s |
| s.remove(x)	| | remove x from set s;raises KeyError if not present |
| s.discard(x)	| | remove x from set s if present |
| s.pop()	| | remove and return an arbitrary element from s; raises KeyError if empty |
| s.clear()	| | remove all elements from set s |

# Binary Sequence Types - bytes, bytearray, memoryview
더이상의 자세한 설명은 생략한다.

# Other Built-in Types
...